= simple_form_for @hanzi do |f| 
  = f.input :character, :autofocus => true
  = f.input :pinyin
  = f.input :meaning, input_html: { class: 'input-xxlarge', rows: '4' }
  = f.input :mnemonic, input_html: { class: 'input-xxlarge', rows: '4'  }
  = f.input :tone_hint, input_html: {class: 'input-xxlarge', rows: '2' }
  = f.input :strokes 
  = f.collection_check_boxes :group_ids, Group.all_by_name, :id, :name, {:item_wrapper_class => 'checkbox_container'}
  %p
  = f.submit 'Update', :class => 'btn btn-danger'
  = f.submit "Cancel", :class => 'btn btn-warning'



 

