
.container-fluid
  .row-fluid
    %h1 Hanzi Character List

  .row-fluid
    .span6
      =form_tag csv_path, :method => :post do
        %a.btn.btn-primary.btn-small{:href => new_hanzi_char_path }
          New Hanzi
        %a.btn.btn-primary.btn-small{:href => new_flashcard_set_path }
          Create Flashcard Set
        =submit_tag "Generate CSV", :class => 'btn btn-primary btn-small'
    .span4.offset2{:align => "right"}
      =form_tag hanzi_chars_path, :method => :get, :class => 'form-inline' do
        =select("group", "group_id", @groups_array)
        =submit_tag "Filter", :class => 'btn btn-primary btn-small'

  .row-fluid
    .span12.text-right
      =render :partial => 'index_by_initials'

  


  .row-fluid
    %table.table.table-condensed.table-bordered
      %tr
        %th Hanzi
        %th Pinyin
        %th Meaning
        %th Groups
        %th Box
        %th Mnemonic
        %th Tone Hint
       

      - @hanzis.each do |hanzi|
        %tr
          %td.hanzi= link_to(hanzi.character, hanzi_char_path(hanzi))
          %td= hanzi.pinyin
          %td= hanzi.meaning
          %td= hanzi.group_names
          %td= hanzi.box_id
          %td= hanzi.decorate_mnemonic_present?
          %td= hanzi.decorate_tone_hint_present?
          

  .row
    = paginate(@hanzis)

