%h1.hanzi.supersized= @hanzi.character
%h3= @hanzi.pinyin
%p

%br

%h5 Meaning:
%p= @hanzi.meaning

%h5 Mnemonic:
%p= @hanzi.decorate_mnemonic

%h5 Tone Hint:
%p= @hanzi.decorate_tone_hint


%br



= link_to 'Index Page', hanzi_chars_path, :class => 'btn btn-primary'
&nbsp;
= link_to 'Edit', edit_hanzi_char_path(@hanzi), :class => 'btn btn-danger'