%h1 Create a new Flashcard Set

= simple_form_for(@flashcard_set) do |f|
  = f.error_notification

  .form-inputs
    = f.input :num_cards, label: 'Num Cards<br/>(each card will be shown 3 times: English, Pinyin and Chinese)'

  .form-inputs
    = f.association :groups, as: :check_boxes, item_wrapper_class: 'checkbox_container'

  .form-actions
    = f.button :submit
