.container-fluid

  .row
    %p= "Set #{@flashcard_set.id} Showing card #{@flashcard_set.num_tested + 1} of #{@flashcard_set.num_cards}"
    %br
    %h1.supersized= @flashcard.display
    %br
 

  .row
    #mnemonic
      %h5 Mnemonic:
      %p= @flashcard.display_mnemonic
      %br
      %hr

  
  .row
    %input{:id =>"displayMnemonic", :class => 'btn btn-warning', :type => "button", :value => "Show Mnemonic",  :onclick => "{$('div#mnemonic').show()}"}
    &nbsp;
    %input{:id =>"displayResult", :class => 'btn btn-success', :type => "button", :value => "Show Result",  :onclick => "{$('div#result').show()}"}

  .row
    #result
      %h1.supersized= @flashcard.display_result.first
      %br
      %h1= @flashcard.display_result.last
      %br
      %a.btn.btn-success{:href => record_result_flashcard_set_path(@flashcard_set, :result => 1) }
        Correct!
      %a.btn.btn-danger{:href => record_result_flashcard_set_path(@flashcard_set, :result => 0) }
        Wrong!


%script{:type => "text/javascript"}
  $("div#mnemonic").hide();
  $("div#result").hide();



